<div class="wrapper">
  <div class="container">
    <h1>HairBnb, Chez-vous, Mais ailleurs Sans coiffeur</h1>
    <h2>The best AirBnb Ever</h2>
    <div class="flex-container">

        <div class="card">
          <%= image_tag "cottage", alt: "alttext", class: "img-responsive" %>
        </div>
        <div class="card">
          <%= image_tag "Hotel", alt: "alttext", class: "img-responsive" %>
        </div>
        <div class="card">
          <%= image_tag "Suite Appartement", alt: "alttext", class: "img-responsive" %>
        </div>

    </div>
  </div>
</div>
